[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pinochet"]
	path = pinochet
	url = https://github.com/cran/pinochet
[submodule "prisonbrief"]
	path = prisonbrief
	url = https://github.com/danilofreire/prisonbrief
